/* CSS BODY */
body {
	background-image: url("../img/fondo_negro.jpg");
	
}


.tabla_php {
	margin-top: 10%;
	color: white;
	border-radius: 10px;
	background-color: rgba(40, 167, 69, 0.8)  !important;
}

.contenedor_tabla {
	width: 23%;
	border-style: solid;
	background-color: rgba(40, 167, 69, 0.8)  !important;
	padding-bottom: 30px;
	margin-left: 39%;
	margin-top: 15%;
	border-radius: 15px;
}
