/*ESTILOS DE LA BARRA DE NAVEGACION */

.logo{
	margin-right: 35px;
}


.navbar-custom {
	background-color:#ffbb33;
  	border-radius:0;
  	height: auto;
}

.dropdown-toggle{
	color: white !important;

}

.nav-link{
	color:white !important;	
}
.dropdown-toggle:active, .open .dropdown-toggle {
        background-color: white !important; 
        color:white !important;
}

.dropdown-toggle:hover{
	color: #bf360c !important;
 	 transform: scale(1.1); 

}

.glyphicon-user{
	color: black !important;
}

.form-inline{
	position: relative;
	float: right;
}



/*AQUI LA PARTE DEL BODY*/
body {
	background-image: url("../img/fondo_negro.jpg");
}

.info_web {
	margin-left: 10%;
	width: 80%;
	text-align: center;
	background-color: rgba(40, 167, 69, 0.7)  !important;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	color: white;
}

.info_foto {
	
	margin-left: 5%;
	margin-top: 15px;
	text-align: center;
	background-color: rgba(40, 167, 69, 0.7)  !important;
	border-radius: 10px;
	padding: 10px;
	color: white;
}

.img_portada:hover{
	transform: scale(1.02); 
}

.info_texto {
	
	margin-left: 5%;
	margin-top: 15px;
	text-align: center;
	background-color: rgba(40, 167, 69, 0.7)  !important;
	border-radius: 10px;
	padding: 10px;
	color: white;
}

a.enlaces{
	color: black !important;
	font-size: 25px;
}

a.enlaces:hover{
	color: #bf360c !important;
 	 transform: scale(1.2); 	 
 	
}

/*ESTILOS DEL FORMULARIOS */
.tabla_php {
	margin-top: 10%;
	color: white;
	border-radius: 10px;
	background-color: rgba(40, 167, 69, 0.8)  !important;
}

.contenedor_tabla {
	width: 23%;
	border-style: solid;
	background-color: rgba(40, 167, 69, 0.8)  !important;
	padding-bottom: 30px;
	margin-left: 39%;
	margin-top: 15%;
	border-radius: 15px;
}


/*ESTILOS DEL FOOTER */

.footer1{
	border-style: solid;
	border-color: rgb(40, 167, 69);
	border-radius: 10px;
	background-color: rgba(40, 167, 69, 0.7)  !important;
	width: 100%;
	height: 25%;
	position: absolute;
  	bottom: 0;
}

.copy{
	color: rgb(40, 167, 69);
	text-align: center;
}

.footer{
	padding-bottom: 20px;
	color: black;
}

.enlaces_footer{
	color:#0000FF;
}

/* CSS DEL FOOTER */
footer { 
	background-color: rgb(40, 167, 69);
	border-color: rgb(40, 167, 69);
  	height: 50px; 
  	background:black; 
  	width:100%; 
  	position:absolute; 
  	bottom:1px; 
  	left:0; 
}